@charset "utf-8";

/* —————————————————————————————————————————————————————————————————————
 *
 * Reset
 *
/* ————————————————————————————————————————————————————————————————————— */
*{margin:0;padding:0;border:0;outline:0;vertical-align:top;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent}
*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
html{
    width: 100%;
    font-smooth:always;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
    overflow-x: hidden;
}
body{
    width: 100%;
    overflow-x: hidden;
    font-family: 'SUITE Variable', 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.42;
    word-break: break-all;
    color: #151719;
}
blockquote, body, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul{margin:0;padding:0;list-style:none}
b, h1, h2, h3, h4, h5, h6, strong{font-weight:700}
fieldset{border:0}
a{font-style:normal;text-decoration:none;color:#212529}
caption{font-size:0;height:0;line-height:0;visibility:hidden;width:0}
a:focus{outline:none !important}
button{cursor: pointer}
button img{vertical-align:middle}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}
img, video{border:0;vertical-align:top}
table{width:100%;border-collapse:collapse;border-spacing:0;table-layout:fixed}
input, select{vertical-align:middle}
label{cursor:pointer}
.blind, caption, hr, legend{position:absolute;height:1px;width:1px;overflow:hidden;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px)}
address, em, i{font-style:normal}
td, th{vertical-align:middle}
button, input, select, textarea{font-family: 'SUITE Variable', 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;color:#151719;background:transparent;font-size:14px;position:relative;zoom:1;-webkit-appearance:none;-moz-appearance:none;appearance:none}


/* —————————————————————————————————————————————————————————————————————
 *
 * Layout
 *
/* ————————————————————————————————————————————————————————————————————— */
#wrap{}
#container{}


/* —————————————————————————————————————————————————————————————————————
 *
 * Header
 *
/* ————————————————————————————————————————————————————————————————————— */
#header{position:fixed;width:100%;display:flex;flex-direction:column;justify-content:center;align-items:center;align-self:stretch;background:rgba(255,255,255,0.05);backdrop-filter: blur(20px);z-index:9999}
#header .hd_inner{width:1200px;height:70px;display:flex;align-items:center;justify-content:space-between;padding:0 24px}
#header .btn_login,
#header .logo svg g{-webkit-transition:all 120ms ease-in-out;transition:all 120ms ease-in-out}
#header .btn_login{display:inline-flex;justify-content:center;align-items:center;text-align:center;padding:8px 14px;border-radius:4px;background:#fff;font-size:14px;font-weight:700;line-height:1.38}
#header .btn_login:hover{background:#F1F2F3}

/* light */
#header.light .logo svg g{fill:#151719}
#header.light .btn_login{background:#31353B;color:#fff}


/* —————————————————————————————————————————————————————————————————————
 *
 * Footer
 *
/* ————————————————————————————————————————————————————————————————————— */
#footer{}


/* —————————————————————————————————————————————————————————————————————
 *
 * Section
 *
/* ————————————————————————————————————————————————————————————————————— */
/* section_inner */
.section_inner {
    width: 1200px;
    padding: 0 24px;
    margin: 0 auto;
    position: relative;
}

/* section_title */
.section_title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-bottom: 80px;
}
.section_title > h2 {
    font-size: 35px;
}
.section_title > p {
    font-size: 20px;
}


/* —————————————————————————————————————————————————————————————————————
 *
 * section_visual
 *
/* ————————————————————————————————————————————————————————————————————— */
.section_visual{height:1066px;display:flex;flex-direction:column;align-items:center;position:relative;overflow:hidden;padding-top:212px;background:url("images/section_visual_bg.jpg") no-repeat center/cover}
.section_visual:before{content:'';height:130px;position:absolute;left:0;right:0;bottom:0;z-index:10;background-image:linear-gradient(180deg,rgb(255 255 255 / 0%) 0,#ffffff 100%);pointer-events:none}

/* visual_text */
.section_visual .visual_text{display:flex;flex-direction:column;align-items:center;text-align:center;gap:20px;color:#FFF}
.section_visual .visual_text>span{padding:10px 20px;border-radius:50px;background:rgba(255,255,255,0.10)}
.section_visual .visual_text>h2{font-size:38px;font-weight:800}
.section_visual .visual_text>p{font-size:20px}
.section_visual .visual_text .btn_start{height:46px;display:inline-flex;justify-content:center;align-items:center;padding:0 24px;border-radius:8px;background:#07F;box-shadow:0 2px 16px 0 rgba(0,0,0,0.10);color:#FFF;font-weight:700;margin-top:20px}
.section_visual .visual_text .btn_start:hover{background:#0066DB}

/* visual_object */
.section_visual .visual_object{width:950px;padding:10px 20px;border-radius:32px;box-shadow:0 0 0 12px rgb(255 255 255 / 50%);background:#FFF;margin-top:52px;overflow:hidden}
.section_visual .visual_object img{width:100%;height:auto}

/* visual_orbit */
.section_visual .visual_orbit{width:1416px;height:1416px;position:absolute;top:132px;left:50%;transform:translateX(-50%);pointer-events:none}
.section_visual .visual_orbit>*{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);border-radius:50%;pointer-events:none}
.section_visual .visual_orbit_glow{width:100%;height:100%;background:linear-gradient(180deg,rgba(255,255,255,0.04) 0%,rgba(255,255,255,0) 100%);filter: blur(4px);-webkit-filter: blur(4px)}
.section_visual .visual_orbit_line{width:101.12994350282%;height:101.12994350282%;background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1432' height='1432' fill='none' viewBox='0 0 1432 1432'%3E%3Cg filter='url(%23a)'%3E%3Ccircle cx='716' cy='716' r='707' stroke='url(%23b)' stroke-opacity='.1' stroke-width='2' shape-rendering='crispEdges'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='b' x1='716' x2='716' y1='8' y2='1424' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fff'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0'/%3E%3C/linearGradient%3E%3Cfilter id='a' width='1432' height='1432' x='0' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='4'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.05 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_7737_160'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_7737_160' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E") no-repeat center/contain}
.section_visual .visual_orbit_tail{width:100%;height:100%;animation:visual_orbit_rotate 20s cubic-bezier(0.63,0.2,0.48,0.82) infinite;transform-origin:50% 50%}
.section_visual .visual_orbit_tail:before{content:'';width:50%;height:50%;background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='708' height='708' fill='none' viewBox='0 0 708 708'%3E%3Cpath fill='url(%23a)' d='M708 2C317.535 2 2 317.535 2 708H0C0 316.43 316.43 0 708 0z'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='709' x2='-125.582' y1='1' y2='495.26' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fff' stop-opacity='.6'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E") no-repeat center/contain;position:absolute;top:0;left:0}
.section_visual .visual_orbit_dot{width:100%;height:100%;animation:visual_orbit_rotate 20s cubic-bezier(0.63,0.2,0.48,0.82) infinite;transform-origin:50% 50%}
.section_visual .visual_orbit_dot:before{content:'';width:10px;height:10px;position:absolute;top:-4px;left:50%;transform:translateX(-50%);background:#fff;border-radius:50%;box-shadow:0 0 4px 2px rgb(255 255 255 / 50%),0 0 12px 10px rgb(255 255 255 / 20%);animation:visual_orbit_dotGlow 3.5s cubic-bezier(0.65,0.05,0.36,1) infinite}
@keyframes visual_orbit_rotate{
    0%{transform:translate(-50%,-50%) rotate(0deg)}
    100%{transform:translate(-50%,-50%) rotate(360deg)}
}
@keyframes visual_orbit_dotGlow{
    0%{box-shadow:0 0 0 0 rgb(255 255 255 / 50%),0 0 8px 4px rgb(255 255 255 / 20%)}
    50%{box-shadow:0 0 6px 4px rgb(255 255 255 / 50%),0 0 16px 14px rgb(255 255 255 / 20%)}
    100%{box-shadow:0 0 0 0 rgb(255 255 255 / 50%),0 0 8px 4px rgb(255 255 255 / 20%)}
}


/* —————————————————————————————————————————————————————————————————————
 *
 * section_process
 *
/* ————————————————————————————————————————————————————————————————————— */
.section_process{position:relative;padding:140px 0 120px}
.section_process .section_inner{display:flex;flex-direction:column;align-items:center}

/* process_list */
.section_process .process_list{}
.section_process .process_list>ul{display:flex;gap:63px}
.section_process .process_list>ul>li{width:110px;display:flex;flex-direction:column;align-items:center;text-align:center;gap:28px;position:relative}
.section_process .process_list>ul>li + li:before{content:'';width:79px;height:1px;background:#E6E8EA;position:absolute;top:25px;left:-71px}
.section_process .process_list>ul>li .ico{width:50px;height:50px;display:inline-flex;align-items:center;justify-content:center;background:#003E85;border-radius:8px}
.section_process .process_list>ul>li .ico:before{content:'';width:28px;height:28px;background-repeat:no-repeat;background-position:center;background-size:contain}
.section_process .process_list>ul>li .ico.ico_step1:before{background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' fill='none' viewBox='0 0 28 28'%3E%3Cpath fill='%23fff' d='m24.964 20.536-4.342-4.341a9.854 9.854 0 1 0-4.428 4.428l4.342 4.341a3.131 3.131 0 1 0 4.428-4.428m-13.151-1.505a7.219 7.219 0 1 1 7.218-7.218 7.227 7.227 0 0 1-7.218 7.218'/%3E%3Cpath fill='%23fff' d='M11.814 17.502a5.688 5.688 0 1 0 0-11.375 5.688 5.688 0 0 0 0 11.375'/%3E%3C/svg%3E")}
.section_process .process_list>ul>li .ico.ico_step2:before{background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' fill='none' viewBox='0 0 28 28'%3E%3Cpath fill='%23fff' d='M24.235 23.02a10.43 10.43 0 0 0-7.557-7.805c2.535-1.053 4.323-3.554 4.323-6.465 0-3.86-3.14-7-7-7s-7 3.14-7 7c0 2.911 1.788 5.412 4.322 6.465a10.43 10.43 0 0 0-7.556 7.805 2.64 2.64 0 0 0 .51 2.242c.5.628 1.247.988 2.05.988h15.349c.802 0 1.55-.36 2.05-.988.505-.633.69-1.45.509-2.242'/%3E%3C/svg%3E")}
.section_process .process_list>ul>li .ico.ico_step3:before{background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' fill='none' viewBox='0 0 28 28'%3E%3Cpath fill='%23fff' d='M1.75 10.5V21a2.633 2.633 0 0 0 2.625 2.625h19.25A2.633 2.633 0 0 0 26.25 21V10.5zM7 21H5.25a.88.88 0 0 1-.875-.875c0-.481.394-.875.875-.875H7c.481 0 .875.394.875.875A.88.88 0 0 1 7 21M26.25 7v1.75H1.75V7a2.633 2.633 0 0 1 2.625-2.625h19.25A2.633 2.633 0 0 1 26.25 7'/%3E%3C/svg%3E")}
.section_process .process_list>ul>li .ico.ico_step4:before{background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' fill='none' viewBox='0 0 28 28'%3E%3Cpath fill='%23fff' d='M20.125 19.25h3.5v.875A2.63 2.63 0 0 1 21 22.75H4.375a2.63 2.63 0 0 1-2.625-2.625V7.875A2.63 2.63 0 0 1 4.375 5.25H21a2.63 2.63 0 0 1 2.625 2.625v.875h-3.5a4.38 4.38 0 0 0-4.375 4.375v1.75a4.38 4.38 0 0 0 4.375 4.375m6.125-6.125v1.75a2.63 2.63 0 0 1-2.625 2.625h-3.5a2.63 2.63 0 0 1-2.625-2.625v-1.75a2.63 2.63 0 0 1 2.625-2.625h3.5a2.63 2.63 0 0 1 2.625 2.625M21 14a.875.875 0 1 0-1.75 0A.875.875 0 0 0 21 14'/%3E%3C/svg%3E")}
.section_process .process_list>ul>li .ico.ico_step5:before{background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' fill='none' viewBox='0 0 28 28'%3E%3Cpath fill='%23fff' d='M14 1.75C7.245 1.75 1.75 7.245 1.75 14S7.245 26.25 14 26.25 26.25 20.755 26.25 14 20.755 1.75 14 1.75m4.996 10.246-5.25 5.25a.9.9 0 0 1-.621.254.9.9 0 0 1-.621-.254l-2.625-2.625a.88.88 0 0 1 0-1.242.88.88 0 0 1 1.242 0l2.004 2.012 4.629-4.637a.88.88 0 0 1 1.242 0 .88.88 0 0 1 0 1.242'/%3E%3C/svg%3E")}
.section_process .process_list>ul>li>p{font-size:17px;font-weight:600}


/* process_hero */
.process_hero{width:100%;display:flex;flex-direction:column;gap:40px;margin-top:80px}
.process_hero_item{height:390px;display:flex;align-items:center;background:#F8F9FA;border:2px solid #F8F9FA;border-radius:20px;padding:0 70px;position:relative;overflow:hidden}
.process_hero_item .txt{display:flex;flex-direction:column;gap:24px}
.process_hero_item .txt>h3{font-size:26px}
.process_hero_item .txt>p{font-size:18px}
.process_hero_item .img{position:absolute;right:0;bottom:0}
.process_hero_item .img>img{width:724px;height:auto}